.Header {
    height: 56px;
    width: 100%;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    background-color: #1b817d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.LogoDiv,
.Logo-search-sign-part {
    height: 90%;
}

.NavigationItem {
    width: 100%;
}

.NavigationItem ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;

}

.NavigationItem ul li {
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin: 10px 0;
    width: 100%;
}

.NavigationItem a {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

.ShowMObile {
    display: none;
}

.ShowDesktop button {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAMAAACecocUAAAAUVBMVEUAAACgnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpygnpym1xK2AAAAGnRSTlMA9N2XiXYKJxj47ta9tnBnSDfn5MSpgn5VQLKkqOUAAABXSURBVAjXPYpHFoAgFANDVymC3dz/oPJZOJtM8gLAaaozQMhMt1lU61q4Api09kBMECorQDfcSyo7fJJr3r24ZQDafAR4Ry3Lo7jNjDTjWox9cfXyY5cP4foDajedS8QAAAAASUVORK5CYII=') no-repeat;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 28px;
    margin: 0;
    height: 28px;
    border: 0;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    top: 0.8rem;
    right: 1.2rem;
}

.Search-main ul {
    padding: 0;
}

.Search-main ul li {
    list-style-type: none;
}

.Search-main ul li input#askAnaQueryInput {
    padding: 5px 28px 5px 5px;
    width: 90px;
    height: 16px;
    margin: 0;
}