.HomeContent {
    width: 60%;
    margin: 1rem auto;
    border: 1px solid #eeeeee;
    box-shadow: 0 2px 3px #cccccc;
    padding: 1rem;
    text-align: center;
}

/* @media (min-width: 500px) {
    .HomeContent {
        width: 450px;
    }
} */